/* ======================================================
   GLOBAL RESET & BASE
   Ce bloc remet les styles par défaut à zéro
   ====================================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* ======================================================
   THEMES DES PAGES
   Différentes couleurs selon la page
   ====================================================== */
body.p-acceuil {
    background-color: rgb(255, 255, 255);
    font-family: "manrope";
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

body.p-tarifs {
    background-color: #1F2039;
    font-family: "manrope";
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

/* ======================================================
   TYPOGRAPHIE
   Police locale utilisée dans tout le site
   ====================================================== */
@font-face {
    font-family: "manrope";
    src: url("Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: #A5B4FC;
    font-size: 55px;
    font-weight: 400;
    margin: 0;
}

h3 {
    color: black;
    text-align: center;
    margin-top: 80px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* ======================================================
   HEADER & NAVIGATION
   Barre du haut + menu principal
   ====================================================== */
.logo {

    width: 250px;
    height: 80px;

}

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    color: black;
    flex-wrap: wrap;
}

header a:hover {
    text-decoration: underline;
}


.menu {
    display: flex;
    gap: 150px;
    list-style-type: none;
    margin-right: 80px;
    flex-wrap: wrap;
    padding: 0 0 0 15px;
}

.menu a {
    color: black;
}

/* ======================================================
   PAGE ACCUEIL - HERO
   Bloc principal avec présentation + portrait
   ====================================================== */
.container1 {
    background-color: #1F2039;
    width: 100%;
    height: 653px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
}

.container4 {
    display: flex;
    align-items: center;
    background-color: #1F2039;
    width: 100%;
    height: 307px;
    padding-left: 168px;
}

.container4 h3 {
    color: #A5B4FC;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
}

h6 {
    font-size: 30px;
    color: black;
    padding-left: 168px;
    padding-top: 50px;
    margin: 0;

}

.presentation {

    width: 379px;
    height: 400px;
}

.contact a {
    color: white;
    text-decoration: none;
}

.contact a:visited {
    color: white;
}

.contact {
    background: linear-gradient(180deg, #8E86B5 0%, #ACAEED 100%);
    border-radius: 50px;
    width: 314px;
    height: 65px;
    font-weight: bold;
    margin-top: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contact:hover {
    background: linear-gradient(180deg, #696484 0%, #8788BA 100%);
}

.portrait1 {
    display: block;
    width: 419px;
    height: 425px;
    object-fit: cover;
    object-position: center top;
    position: relative;

}

.photo-frame {
    position: relative;
    display: inline-block;
}

.photo-frame::after {
    content: "";
    position: absolute;
    bottom: -40px;
    right: -40px;
    width: 80px;
    /* longueur horizontale */
    height: 2px;
    /* épaisseur */
    background-color: #A5B4FC;
}

.photo-frame::before {
    content: "";
    position: absolute;
    bottom: -40px;
    right: -40px;
    width: 2px;
    /* épaisseur */
    height: 80px;
    /* longueur verticale */
    background-color: #A5B4FC;
}

/* ======================================================
   GALERIES D'IMAGES
   Grilles portfolio et projets
   ====================================================== */
.imgbox img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.imgbox {
    display: grid;
    width: 1012px;
    grid-template-rows: 311px 311px;
    grid-template-columns: 326px 328px 326px;
    gap: 16px;
    margin: 60px auto 0 auto;


}

h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0px;
    font-size: 35px;
}


.linkportfolio {
    background: linear-gradient(180deg, #8E86B5 0%, #ACAEED 100%);
    border-radius: 50px;
    width: 314px;
    height: 65px;
    font-weight: bold;
    margin-top: 60px;


    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 60px auto;
}

.linkportfolio:hover {
    background: linear-gradient(180deg, #696484 0%, #8788BA 100%);
}

/* ======================================================
   FORMULAIRE DE CONTACT
   Champs, boutons et interactions
   ====================================================== */
.contact-section {
    background-color: #1F2039;
    width: 100%;
    height: 1000px;

}

.contact-section h3 {
    color: #A5B4FC;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 30px;

}

/* ======================================================
   PAGE TARIFS
   En-tête + boutons + prestations
   ====================================================== */
.container3 h3 {
    color: #A5B4FC;
    font-size: 50px;
    font-weight: 400;
    margin: 0 auto
}

.container3 {

    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ncontact a {
    color: white;
    text-decoration: none;
}

.ncontact a:visited {
    color: white;
}

.ncontact {
    background: linear-gradient(180deg, #8E86B5 0%, #ACAEED 100%);
    border-radius: 50px;
    width: 200px;
    height: 65px;
    font-weight: bold;
    margin-right: 200px;
    font-size: 16px;


    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ncontact:hover {
    background: linear-gradient(180deg, #696484 0%, #8788BA 100%);
}

.prestation {
    display: flex;
    width: fit-content;
    margin: 50px auto 100px;
    gap: 100px;
    flex-wrap: wrap;
}

h2 {
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #A5B4FC;
    text-align: left;
}

h4 {
    font-size: 16px;
    color: #A5B4FC;
    text-align: left;
}

h5 {
    font-size: 10px;
    color: #F9F8FF;
    text-align: left;
}

.presta p {
    font-size: 16px;
    font-weight: 400;
}

:root {
    --col-left: 278px;
}

.presta {
    border-bottom: solid #A5B4FC 1px;
    border-right: solid #A5B4FC 1px;
    width: var(--col-left);
    height: 295px;
    padding-right: 30px;
}

.studio {
    text-align: left;
    color: #A5B4FC;
    font-size: 35px;
    font-weight: 400;
    margin-left: 200px;
}

/* ======================================================
   TABLEAU TARIFS STUDIO
   Présentation détaillée des prestations
   ====================================================== */
table {
    border: 1px solid #A5B4FC;
    border-collapse: collapse;
    margin: 50px auto 500px;

    width: 1127px;
    table-layout: fixed;
}

th {
    padding: 12px;
    color: #F9F8FF;
    border: 1px solid #A5B4FC;
}

th:first-child,
td:first-child {
    width: var(--col-left);
}

tr,
td {
    border: 1px solid #A5B4FC;
    padding: 50px;
    color: #F9F8FF;
    text-align: center;
}

.field {

    margin: 0 auto;
    max-width: 525px;
    width: 100%;
    height: 368px;
    padding: 10px;
}



textarea.input {

    height: 300px;

}

/* ======================================================
   FOOTER
   Logo + réseaux sociaux
   ====================================================== */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
}

footer img {
    display: block;
    width: 57px;
    height: 30.5px;
    margin-left: 56px
}

.rs {
    display: block;
    text-align: right;
    width: 25px;
    height: 25px;
    margin: 0;
}

.box-rs {
    display: flex;
    margin-right: 75px;
    gap: 30px
}

.test {
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

fieldset {
    padding: 0px;
    margin: 0 auto;
    border-radius: 10px;
    border-style: none;

}

legend {
    border: none;
    border-radius: 16px;
    padding: 0px
}

.option {
    display: inline-flex;
    align-items: center;
    /* centre verticalement */
    gap: 0.5rem;
    line-height: 1.2;
    cursor: pointer;
    padding: 10px;
}


.champ input {
    width: 200px;
    padding-left: 10px;

}

fieldset {
    width: 100%;
}

/* Conteneur */
.select-field {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 30px;

}

/* From Uiverse.io by ozgeozkaraa01 */
.group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 20px;

    margin: 0 auto;
    padding: 15px;
}

/* Le champ email prend toute la ligne */
.group label[for="email"],
.group #email {
    grid-column: 1 / -1;
}

.input {
    width: 100%;
    height: 45px;
    line-height: 30px;
    padding: 0 5rem;
    padding-left: 3rem;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #f8fafc;
    color: #0d0c22;
    transition: .5s ease;
}

.input::placeholder {
    color: #94a3b8;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: none;
    width: 1rem;
    height: 1rem;
}

/* From Uiverse.io by Madflows */
.button {
    margin: 0 auto;
    overflow: hidden;
    height: 3rem;
    top: 20px;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #ffffff;
    border: none;
    cursor: pointer;

}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            rgba(150, 93, 233, 1) 10.8%,
            rgba(99, 88, 238, 1) 94.3%);
    transition: all 0.475s;
}

select {
    padding: 10px;
}

/* ======================================================
   1. RESET & VARIABLES
   ====================================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --col-left: 278px;
}

body {
    margin: 0;
}

/* ======================================================
   2. BASE TYPOGRAPHY & ELEMENTS
   ====================================================== */
@font-face {
    font-family: "manrope";
    src: url("Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    color: #A5B4FC;
    font-size: 55px;
    font-weight: 400;
    margin: 0;
}

h3 {
    color: black;
    text-align: center;
    margin-top: 80px;
}

h6 {
    font-size: 30px;
    color: black;
    padding-left: 168px;
    padding-top: 50px;
    margin: 0;
}

body.p-acceuil {
    background: #fff;
    font-family: "manrope";
    color: white;
    font-size: 20px;
}

body.p-tarifs {
    background: #1F2039;
    font-family: "manrope";
    color: white;
    font-size: 20px;
}

/* ======================================================
   3. HEADER / NAVIGATION (composant global)
   ====================================================== */
header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    flex-wrap: wrap;
    color: black;
}

.logo {
    width: 250px;
    height: 80px;
}

.menu {
    display: flex;
    gap: 150px;
    list-style: none;
    margin-right: 80px;
    flex-wrap: wrap;
    padding-left: 15px;
}

.menu a {
    color: black;
}

header a:hover {
    text-decoration: underline;
}

/* ======================================================
   4. HERO ACCUEIL
   ====================================================== */
.container1 {
    background: #1F2039;
    width: 100%;
    height: 653px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
}

.presentation {
    width: 379px;
    height: 400px;
}

.contact {
    background: linear-gradient(180deg, #8E86B5 0%, #ACAEED 100%);
    border-radius: 50px;
    width: 314px;
    height: 65px;
    font-weight: bold;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact:hover {
    background: linear-gradient(180deg, #696484 0%, #8788BA 100%);
}

.contact a {
    color: white;
}

.photo-frame {
    position: relative;
    display: inline-block;
}

.portrait1 {
    width: 419px;
    height: 425px;
    object-fit: cover;
    object-position: center top;
}

.photo-frame::after {
    content: "";
    position: absolute;
    bottom: -40px;
    right: -40px;
    width: 80px;
    height: 2px;
    background: #A5B4FC;
}

.photo-frame::before {
    content: "";
    position: absolute;
    bottom: -40px;
    right: -40px;
    width: 2px;
    height: 80px;
    background: #A5B4FC;
}

/* ======================================================
   5. GALERIES D'IMAGES
   ====================================================== */
.imgbox {
    display: grid;
    width: 1012px;
    grid-template-columns: 326px 328px 326px;
    grid-template-rows: 311px 311px;
    gap: 16px;
    margin: 60px auto 0;
}

.imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.linkportfolio {
    background: linear-gradient(180deg, #8E86B5 0%, #ACAEED 100%);
    border-radius: 50px;
    width: 314px;
    height: 65px;
    font-weight: bold;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkportfolio:hover {
    background: linear-gradient(180deg, #696484 0%, #8788BA 100%);
}

/* ======================================================
   6. FORMULAIRE
   ====================================================== */
.contact-section {
    background: #1F2039;
    width: 100%;
    height: 1000px;
}

.contact-section h3 {
    color: #A5B4FC;
    font-size: 35px;
    text-align: center;
    padding: 30px;
    margin: 0;
}

.field {
    margin: 0 auto;
    max-width: 525px;
    width: 100%;
    height: 368px;
    padding: 10px;
}

.group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 20px;
    margin: 0 auto;
    padding: 15px;
}

.group label[for="email"],
.group #email {
    grid-column: 1 / -1;
}

.input {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding-left: 1rem;
    background: #f8fafc;
}

textarea.input {
    height: 300px;
}

.button {
    margin: 0 auto;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    color: white;
    border: none;
    cursor: pointer;
}

/* ======================================================
   7. PAGE TARIFS
   ====================================================== */
.container3 {
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container3 h3 {
    color: #A5B4FC;
    font-size: 50px;
    margin: 0 auto;
}

.ncontact {
    background: linear-gradient(180deg, #8E86B5 0%, #ACAEED 100%);
    border-radius: 50px;
    width: 200px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prestation {
    display: flex;
    margin: 50px auto 100px;
    gap: 100px;
    flex-wrap: wrap;
}

.presta {
    border-bottom: 1px solid #A5B4FC;
    border-right: 1px solid #A5B4FC;
    width: var(--col-left);
    height: 295px;
    padding-right: 30px;
}

.studio {
    color: #A5B4FC;
    font-size: 35px;
    margin-left: 200px;
}

/* ======================================================
   8. TABLEAU TARIFS
   ====================================================== */
table {
    border: 1px solid #A5B4FC;
    border-collapse: collapse;
    margin: 50px auto 500px;
    width: 1127px;
}

th,
td {
    border: 1px solid #A5B4FC;
    padding: 50px;
    text-align: center;
    color: #F9F8FF;
}

/* ======================================================
   9. FOOTER
   ====================================================== */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 100%;
    height: 80px;
}

footer img {
    width: 57px;
    height: 30.5px;
    margin-left: 56px;
}

.box-rs {
    display: flex;
    margin-right: 75px;
    gap: 30px;
}

.rs {
    width: 25px;
    height: 25px;
}

/* ======================================================
   10. RESPONSIVE
   ====================================================== */
@media (max-width:768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 20px
    }

    .menu {
        gap: 20px;
        margin: 0
    }

    .container1 {
        flex-direction: column-reverse;
        height: auto;
        gap: 40px
    }

    .imgbox {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 16px;
        margin: 0
    }

    header {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .logo {
        margin: 0 auto;
    }

    .menu {
        justify-content: center;
        gap: 20px;
        margin: 0;
    }

    .presentation {
        flex-direction: row;
        height: fit-content;
    }

    .photo-frame {
        margin: 50px auto 50px;
    }

    .portrait1 {
        width: 287px;
        height: 291px;
    }

    .container1 {
        flex-direction: column-reverse;
        height: fit-content;
        gap: 40px;
    }

    .imgbox {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 0 16px;
        margin: 0;
    }

    .paysage {
        width: 100%;
        height: auto;
    }

    #message {
        width: 100%;
        margin: 0;

    }

    .contact {
        margin: 60px auto;
    }

    .container4 {
        justify-content: center;
        padding: 0;
    }

    h6 {
        text-align: center;
        padding-left: 0;
        padding-bottom: 50px;
    }
}